$style: red;
$wrapper-width: 100%;
$main-width: 77%;
$navigation-width: 23%;
$weakblue: #55f;
$device-iphone:"only screen and (max-width : 420px)";

//Colors to Debug
.btn-close:hover{cursor: pointer;}
.wrapper{background-color:aqua;}
.header-container{background-color:pink;}
.navigation-container{background-color: $weakblue;}
.main-container{background-color:green;}
section#work li{background-color:beige; padding:0%;}


.wrapper{
  position: relative;
  overflow-x: hidden;
  width: $wrapper-width;
  height: 100vh; //min-height:600px; // might be used if vh doesn't work in many browsers
  
  // FIXME: still considering how to display main page with the below.
  //overflow-y: hidden;
  //height: auto;
}

.container{
  position:absolute;
  display: block;
  height: 100%;
}

.header-container,
.navigation-container{
  position:fixed;
}

.header-container,
.main-container{
  width: $main-width;
}

.navigation-container{
  width: $navigation-width;
  -webkit-transform: translateX($main-width * ($wrapper-width/$navigation-width));
  transform: translateX($main-width * ($wrapper-width/$navigation-width));
  //left: $main-width; // might be used if not unconfortable and the below not working
}
.main-container{
  width: $main-width;
  -webkit-transform: translateX($wrapper-width * ($wrapper-width/$main-width) + 1%);
  transform: translateX($wrapper-width * ($wrapper-width/$main-width) + 1%);
  //left: $wrapper-width; // might be used if not unconfortable and the below not working
}

#work,
#aboutme,
#contacts{
  display: none;
}

/* 
* Animation style
*/
.header-container,
.main-container,
.navigation-container{
  -webkit-transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
}
.main-on.container{
  height: auto !important;
  min-height: 100vh !important;
}

.main-on.header-container{
  -webkit-transform: translateX(-$wrapper-width) !important;
  transform: translateX(-$wrapper-width) !important;
}
.main-on.navigation-container{
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
}
.main-on.main-container{
  -webkit-transform: translateX($navigation-width * ($wrapper-width/$main-width)) !important;
  transform: translateX($navigation-width * ($wrapper-width/$main-width)) !important;
}

.active#work,
.active#aboutme,
.active#contacts{
  display: block;
}

.mobilebtn {
  position:fixed !important;
  top: 30px !important;
  right: 30px !important;
  z-index: 200;
}

/*
* Style for mobile size
*/
@media #{$device-iphone}{
  .wrapper{
    
  }

  .container{
    width: 100% !important;
  }

  .header-container,
  .navigation-container{
    height: 50%;
  }

  .navigation-container{
    -webkit-transform:translateX(0);
    transform:translateX(0);
    top: 50% !important;
  }

  .main-container{
    top: 0;
    z-index: 9000;

    // FIXME: still considering how to display main page with the below
    //overflow-y: auto;
  }

  /* 
  * Animation style
  */
  .main-on.container:not(.main-container){
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  
  .main-on.container.main-container{
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;

    // FIXME: still considering how to display main page with the below.
    //height:auto !important;
    //min-height: 100% !important;
  }
}

