.btn-close:hover {
  cursor: pointer;
}

.wrapper {
  position: static;
  width: 100%;
  min-height: 667px;
  height: 100vh;
  overflow-x: hidden;
}

.wrapper-l {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
}

.header-container,
.navigation-container {
  float: none;
  width: 100%;
  height: 50%;
}

.wrapper-r {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.main-container {
  top: 0;
  z-index: 9000;
}

/* 
* Animation style
*/
.wrapper-l,
.wrapper-r {
  -webkit-transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
}

.main-on .wrapper-r,
.main-on .wrapper-l {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.main-on .wrapper-r {
  position: absolute;
}

.main-on .wrapper-l {
  position: fixed;
}

.main-on .closebtn {
  display: block;
}

.keepstate-to-main .wrapper-r {
  position: fixed !important;
}

.keepstate-to-main .wrapper-l {
  position: absolute !important;
}

.keepstate-to-home .wrapper-r {
  position: absolute;
}

.keepstate-to-home .wrapper-l {
  position: fixed !important;
}

.closebtn {
  position: fixed !important;
  top: 30px !important;
  right: 30px !important;
  z-index: 200;
  display: none;
}

@media only screen and (max-width: 767px) {
  .wrapper-l {
    min-height: 667px;
  }
}
@media only screen and (min-width: 768px) {
  .header-container,
  .navigation-container {
    float: left;
    width: 50%;
    height: 100%;
  }

  .wrapper-r {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  /* 
  * Animation style
  */
  .main-on .wrapper-r,
  .main-on .wrapper-l {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media only screen and (min-width: 892px) {
  .closebtn {
    display: none;
  }

  .wrapper-l {
    position: fixed;
  }

  .header-container,
  .navigation-container {
    float: left;
    height: 100%;
  }

  .header-container {
    width: 77%;
  }

  .navigation-container {
    width: 23%;
  }

  .wrapper-r {
    position: fixed;
    float: left;
    width: 77%;
    height: 100%;
    -webkit-transform: translateX(129.87013%);
    transform: translateX(129.87013%);
  }

  /* 
  * Animation style
  */
  .main-on .wrapper-l {
    -webkit-transform: translateX(-77%) !important;
    transform: translateX(-77%) !important;
  }

  .main-on .wrapper-r {
    -webkit-transform: translateX(29.87013%) !important;
    transform: translateX(29.87013%) !important;
    position: absolute;
  }

  body {
    overflow-x: hidden;
  }

  main .row {
    margin-right: 0;
    margin-left: 0;
  }
}
