$style: red;
$wrapper-width: 100%;
$header-width: 77%;
$main-width: $header-width;
$navigation-width: 23%;
$weakblue: #55f;
$device-iphone:"only screen and (min-width : 420px)";
$device-ipad:"only screen and (min-width : 768px)";
$device-desktop: "only screen and (min-width : 892px)";

//Colors to Debug
.btn-close:hover{cursor: pointer;}
.wrapper{background-color:aqua;}
.header-container{background-color:pink;}
.navigation-container{background-color: $weakblue;}
.main-container{background-color:green;}
//section#work li{background-color:beige; padding:0%;}
#work figure{background-color:brown;}

// From mobile Styling
.wrapper{
  position: relative;
  width:100%;
  min-height: 630px;
  height: 100vh; //min-height:600px; // might be used if vh doesn't work in many browsers
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper-l{
  position:static;
  float: left;
  width: 100%;
  height: 100%;

  .header-container,
  .navigation-container{
    float: none;
    width: 100%;
    height: 50%;
  }
}

.wrapper-r{
  position:absolute;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translateX(100% * ($wrapper-width/$main-width));
  transform: translateX(100% * ($wrapper-width/$main-width));
}

.main-container{
  top: 0;
  z-index: 9000;
}
  
/* 
* Animation style
*/
.wrapper-l,
.wrapper-r {
  -webkit-transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
}

.main-on.wrapper-r,
.main-on.wrapper-l {
  -webkit-transform: translateX(0);
  transform: translateX(0);

  // FIXME: still considering how to display main page with the below.
  //height:auto !important;
  //min-height: 100% !important;
}

#work,
#aboutme,
#contacts{
  display: none;
}

.active#work,
.active#aboutme,
.active#contacts{
  display: block;
}

.closebtn {
  position:fixed !important;
  top: 30px !important;
  right: 30px !important;
  z-index: 200;
  display:none;
}

.main-on.closebtn{
  display:block;
}

@media #{$device-ipad} {

  .wrapper-l{

    .header-container,
    .navigation-container{
      float: left;
      width: 50%;
      height: 100%;
    }
  }

  .wrapper-r{
    position:absolute;
    width: 100%;
    height: 100%;
  }

  /* 
  * Animation style
  */
  .main-on.wrapper-r,
  .main-on.wrapper-l{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media #{$device-desktop} {
  
  .closebtn{
    display:none;
  }

  .wrapper-l {
    position: fixed;
    top:0;
    left:0;

    .header-container,
    .navigation-container {
      float: left;
      height:100%;
    }

    .header-container
    {
      width: $header-width;
    }

    .navigation-container{
      width: $navigation-width;
    }
  }

  .wrapper-r{
    position:absolute;
    //display: block;
    width: $main-width;
    height: 100%;
    -webkit-transform: translateX(100% * ($wrapper-width/$main-width));
    transform: translateX(100% * ($wrapper-width/$main-width));
  }

  /* 
  * Animation style
  */
  .main-on.wrapper-l{
    -webkit-transform: translateX(-$main-width) !important;
    transform: translateX(-$main-width) !important;
  }

  .main-on.wrapper-r{
    -webkit-transform: translateX($navigation-width * ($wrapper-width/$main-width)) !important;
    transform: translateX($navigation-width * ($wrapper-width/$main-width)) !important;
  }
}

