<section id="aboutme">
  <h1 class="text-center">ABOUT ME</h1>
  <figure>
    <img src="images/naokinishikubo.png" class="img-responsive center-block">
  </figure>
  <p>Hi, my name is Naoki Nishikubo. I am a front-end web developer / designer from Vancouver. I received my certification as a Technical Web Designer from BCIT, where the program I was engaged in gave me the confidence to excel in this field. I am an enthusiast of <strong>Javascript</strong>, especially <strong>jQuery</strong> and <strong>Angular.js</strong>.</p>

  <p>I am ever in the pursuit of the highest quality code possible. I love the process of debugging and optimizing while being insane. However, I am at my happiest when collaborating with people who are as passionate as I am when it comes to creating awesome things.</p>
</section>