<section id="contacts">
  <h1>Thank You for Coming to My Website!</h1>
  <p>I would love to hear from you. If you are interested in working with me, please email me. You can also connect with the following social media.</p>
  <ul>
    <li><a href="mailto:nishikubo0521@gmail.com" class="email"><i class="ion-android-mail"></i><span>email</span></a></li>
    <li><a href="https://twitter.com/nnnaoteru" class="twitter"><i class="ion-social-twitter"></i><span>twitter</span></a></li>
    <li><a href="http://ca.linkedin.com/pub/naoki-nishikubo/a4/929/bba" class="linkedin"><i class="ion-social-linkedin"></i><span>linkedin</span></a></li>
  </ul>
</section>