<% if (project) { %>
<figure>
  <img src="<%= project.image %>" class="img-responsive center-block">
</figure>
<p id="description" class=""><%= project.description %></p>
<a href="<%= project.website %>">SITE LIN</a>
<% } %>