<% if (requestedProjectDetail) { %>
<h2><%= requestedProjectDetail.name %><i id="close-project-detail" class="ion-ios-close-empty"></i></h2>
<figure>
  <img src="<%= requestedProjectDetail.image %>" class="img-responsive center-block">
</figure>
<h3 class="">Discription</h2>
<p id="description" class=""><%= requestedProjectDetail.description %></p>
<p class="text-center"><a class="btn btn-default" href="<%= requestedProjectDetail.website %>" target="_brank" >SITE LINK</a></p>
<% } %>