<% if (project) { %>
<h2 class="text-center"><%= project.name %></h2>
<figure>
  <img src="<%= project.image %>" class="img-responsive center-block">
</figure>
<p id="description" class=""><%= project.description %></p>
<p class="text-center"><a class="btn btn-default" href="<%= project.website %>" target="_brank" >SITE LINK</a></p>
<% } %>