<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale= 1.0">
  <title>WEB DEVELOPER / NAOKI NISHIKUBO / PORTFOLIO</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="styles/css/style.css">
</head>
<body>
  <div class="wrapper">
    <div class="container header-container" id="">
      <header>
        <h1>NAOKI NISHIUBO'S PORTFOLIO</h1>
        <h2>web developer / designer</h2>
      </header>
    </div>
    <div class="container navigation-container">
  poipoi
      <nav>
        <ul>
          <li><a id="ajaxtest"href="/test">Test Link</a></li>
          <li><a id="ajaxtest2" href="test2">Test2 Link</a></li>
          <li><a class="btn-to-home" href="">home</a></li>
          <li><a class="btn-to-section" data-section-id="#work">work</a></li>
          <li><a class="btn-to-section" data-section-id="#aboutme">about me</a></li>
          <li><a class="btn-to-section" data-section-id="#contacts">contacts</a></li>
          <li><button id="btn">Button</button></li>
          <li id="pjax"><p id="pjax" style="color:red">test.ejs <%= testvalue %></p></li>
        </ul>
      </nav>
    </div>
    <div class="container main-container" id="">
      <main>
        <i class="ion-ios-close-outline btn-to-home mobilebtn"></i>
        <section id="work">
          <ul>
            <li>
              <figure>
                <figcaption>CHLOE ULIS</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <figcaption>BCIT HTP</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <figcaption>PREVIOUS PORTFOLIO</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <figcaption>JQUERY TUTORIAL</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <figcaption>RESPONSIVE SITE</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <figcaption>COMING SOON</figcaption>
              </figure>
            </li>
          </ul>
        </section>
        <section id="aboutme">
          <figure>
            <img src="">
          </figure>
          <p>Hi, I am Naoki Nishikubo. I am a web developer who came from a physics and engineering field to seek undiscovered laws of Web. I believe that good design more comes from logic than a sense of graphic, as well as that good work more comes from heart than skills.</p>
        </section>
        <section id="contacts">
          <h2>Thank You for Comming to My Website!</h2>
          <p>I would love to hear any of your response. Please email me if you have some projects you want to work on with me. You can also connect on the following social media. </p>
          <ul>
            <li><a href=""><i></i><span>linkein</span></a></li>
            <li><a href=""><i></i></a><span>twitter</span></li>
            <li><a href=""><i></i></a><span>email</span></li>
          </ul>
        </section>
      </main>
    </div>
  </div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="scripts/jquery.pjax.min.js"></script>
<script src="scripts/script.js"></script>
</body>
</html>