.btn-close:hover {
  cursor: pointer;
}

.wrapper {
  background-color: aqua;
}

.header-container {
  background-color: pink;
}

.navigation-container {
  background-color: #55f;
}

.main-container {
  background-color: green;
}

section#work li {
  background-color: beige;
  padding: 0%;
}

#work figure {
  background-color: brown;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}

.wrapper-l {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.wrapper-l .header-container,
.wrapper-l .navigation-container {
  float: left;
}

.wrapper-r {
  position: absolute;
  display: block;
  width: 77%;
  height: 100%;
  -webkit-transform: translateX(129.87013%);
  transform: translateX(129.87013%);
}

.header-container {
  width: 77%;
  height: 100%;
}

.navigation-container {
  width: 23%;
  height: 100%;
}

#work,
#aboutme,
#contacts {
  display: none;
}

/* 
* Animation style
*/
.wrapper-l,
.wrapper-r {
  -webkit-transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
}

.main-on.wrapper-l {
  -webkit-transform: translateX(-77%) !important;
  transform: translateX(-77%) !important;
}

.main-on.wrapper-r {
  -webkit-transform: translateX(29.87013%) !important;
  transform: translateX(29.87013%) !important;
}

.active#work,
.active#aboutme,
.active#contacts {
  display: block;
}

.mobilebtn {
  position: fixed !important;
  top: 30px !important;
  right: 30px !important;
  z-index: 200;
}

/*
*Style for ipad size
*/
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    min-height: 630px;
  }

  .wrapper-l {
    position: static;
    float: left !important;
    width: 100%;
  }
  .wrapper-l .header-container,
  .wrapper-l .navigation-container {
    float: none;
    width: 100%;
    height: 50%;
  }

  .wrapper-r {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* 
  * Animation style
  */
  .main-on.wrapper-r,
  .main-on.wrapper-l {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}
/*
* Style for mobile size
*/
@media only screen and (max-width: 420px) {
  .wrapper {
    width: 100%;
    min-height: 630px;
  }

  .wrapper-l {
    position: static;
    float: left !important;
    width: 100%;
  }
  .wrapper-l .header-container,
  .wrapper-l .navigation-container {
    float: none;
    width: 100%;
    height: 50%;
  }

  .wrapper-r {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .main-container {
    top: 0;
    z-index: 9000;
  }

  /* 
  * Animation style
  */
  .main-on.wrapper-r,
  .main-on.wrapper-l {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}
