$purple:#851c7a;
$projectDetailColor : black;
$projectDetailButtonColor : dimgray;
$projectDetailHeadingColor : dimgray;
//breakpoints
$screen-xs-max: "only screen and (max-width : 767px)";
$screen-sm-min: "only screen and (min-width : 768px)";
$screen-md-min: "only screen and (min-width : 892px)";
$screen-xl-min: "only screen and (min-width : 1800px)";


html {
  font-size: 10.5px;
}

body {
  font-family: 'Jura', sans-serif;
}

p {
  //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  //font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
  //font-family: 'Jura', sans-serif;
  font-size: 2.0rem !important;
  line-height: 1.5 !important;
  //font-weight: 300;
  font-weight: 300;
  color: black;
}

strong {
  //font-family: 'Lato', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
  padding-left:0;
}

a {
  text-decoration:none !important;
  font-weight: 300;
  color: black;
}

a:hover {
  color: black;
}

.wrapper{
  background-color:whitesmoke;
}

.closebtn {
  font-size:3rem;
}

.header-container{
  padding:9% 15%;
  background-color:$purple;
  color: white;

  h1 {
    margin-top:0;
    font-size: 4rem;
    font-weight: 300;
    span {
      display: block;
      line-height:1.2;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }
}

.navigation-container {
  background-color:white;
  padding-left:15%;
  padding-top:9%;

  a {    
    font-size: 2.5rem;
    position:relative;
    left:20px;
    cursor:pointer;
  }

  a::before {
    position:absolute;
    top:3px;
    left:-20px;
    content: "";
    padding-left:0px;
    padding-bottom:2rem;
    -webkit-transition:padding ease-in .3s;
    transition:padding ease .3s;
  }

  a:hover:before,
  a.selected:before {
    content: "";
    background-color:$purple;
    padding-left:8px;
  }

  li {
    margin-bottom: 3%;
  }
}

.main-container {

  background-color:whitesmoke;

  h1{
    margin-bottom: 10% !important;
  }

  #work {
    padding: 12%;
    padding-top: 17%;

    .ajaxdata-container{
      margin-bottom: 5%;
      overflow-y: hidden;
      background-color: whitesmoke;
      height: 0;
      width: 100%;

      #close-project-detail{
        font-size:2.7rem;
        color: gray;
        margin-bottom: 0 !important;
        float: right;
        position: relative;
        top: -0.2rem;
      }

      #close-project-detail:hover {
        cursor: pointer;
      }

      #ajaxdata{
        padding: 5% 8%;
        padding-bottom : 2%;

        *{
          margin-bottom: 7%;
        }

        h2 {
          color: $projectDetailHeadingColor;
          font-size: 1.9rem;
          margin-bottom: 6%;
          text-align: bottom;

          span{
            float: left;
          }
        }

        h3{
          color: $projectDetailHeadingColor;
          border-bottom: solid 1px #CDCDCD;
          font-size: 1.4rem;
          padding-bottom:3%;
          margin-top: 5%;
          margin-bottom: 3%;
        }

        p {
          font-size: 1.5rem !important;
          color: $projectDetailColor;

          a {
            font-size: 1.4rem;
            font-family: 'Jura', sans-serif;
            color: $projectDetailButtonColor;
            background-color:whitesmoke;
            padding:1.5% 5%;
            line-height: 1.2;
            margin-bottom: 0;

            -webkit-transition: all ease .3s;
            transition: all ease .3s;
          }

          a:hover {
            background-color:DarkOrange;
            color:white;
            border-color: DarkOrange + #111;
          }
        }
      }
    }

    li {
      margin-bottom: 5%;
      padding: 5% !important;

      figure{
        background-color:white;
        padding-top: 10% !important;
        padding-bottom: 5% !important;

        img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-transition: -webkit-filter ease .5s;
          transition:filter ease .5s;
        }

        img:hover{
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }

        figcaption{
          margin-top: 5%;
          color: slategray;
          font-size: 2rem;
        }
      }

      figure:hover{
        -webkit-transition: background-color ease .5s;
        transition: background-color ease .5s;
        background-color: orange;

        figcaption{
          -webkit-transition: color ease .5s;
          transition: color ease .5s;
          color:white;
        }
      }

      img {
        width: 75%;
      }
    }
  }

  #aboutme {
    padding:12%;
    padding-top:17%;
    
    figure {
      margin-bottom:20%;
    }

    img {
      width: 75%;
    }

    p {
      font-size:1.2em;
      margin-bottom: 13%;
    }
  }

  #contacts {
    padding:12%;
    padding-top:17%;
    padding-bottom:30%;

    h2, p {
      margin-bottom: 13%;
    }

    p {
      font-size:1.3em;
    }

    li {
      margin-bottom: 3% !important;
    }

    li a {
      font-size:2.3rem !important;
    }

    li i {
      margin-right:20px;
    }


    .email,
    .twitter,
    .linkedin{

        i, span{
          -webkit-transition: color ease .4s;
          transition: color ease .4s;
        }

        &:hover span{
          color:darkorange;
        }
    }

    .email:hover i {color:orange;}
    .twitter:hover i {color: #55aace;}
    .linkedin:hover i {color: #0077b5;}
  }
}

@media #{$screen-xs-max} {

  .main-container{

    #work {
      .ajaxdata-container{
        background-color:white;

        #ajaxdata{
          p a{ 
            background-color:white;
          }
        }
      }
    }

    #work li figure{
      background-color:white - #181818;

      img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }

      figcaption{
        color: gray;
      }
    }

    // To cancell the default animation
    #work li figure:hover{
      background-color:white - #181818;
    }
  }

}

@media #{$screen-sm-min} {

  .header-container,
  .navigation-container{
    padding-left:15%;
    padding-top:20%;
  }

  .header-container{

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .navigation-container {

    a {    
      font-size: 2.5rem;
      font-weight: 300;
    }

    a::before {
      position:absolute;
      top:3px;
      left:-20px;
      content: "";
      padding-left:0px;
      padding-bottom:2rem;
      -webkit-transition:padding ease-in .3s;
      transition:padding ease .3s;
    }

    a:hover:before,
    a.selected:before {
      content: "";
      background-color:$purple;
      padding-left:8px;
    }

    li {
      margin-bottom: 3%;
    }
  }

  .main-container {
    background-color:white;

    #work,
    #aboutme,
    #contacts {
      padding:4% 17%;
      padding-bottom: 40%;
    }

    #work {

      .ajaxdata-container{
        margin-bottom: 5%;
        overflow-y: hidden;
        background-color: whitesmoke;
        height: 0;
        width: 100%;

        #close-project-detail{
          font-size:4rem;
          top: -0.8rem;
        }

        #ajaxdata{
          padding: 5% 8%;
          padding-bottom : 2%;

          *{
            margin-bottom: 7%;
          }

          h2 {
            font-size: 2.2rem;
          }

          h3{
            font-size: 1.7rem;
          }

          p {
            font-size: 1.7rem !important;

            a {
              font-size: 1.7rem;
              padding:1.5% 5%;
              line-height: 1.2;
            }
          }
        }
      }

      li {
        margin-bottom: 5%;
        padding:2% !important;

        figure {
          background-color:whitesmoke;
        }

        img {
          width: 85%;
        }
      }
    }

    #contacts {

      h1, p {
        margin-bottom: 10%;
      }

      h1{
        font-size:3.3rem;
      }

      p {
        font-size:2.3rem;
      }

      li {
        margin-bottom: 3% !important;
      }

      li a {
        font-size:2.8rem !important;
      }

      li i {
        margin-right:20px;
      }
    }

    #aboutme {
      
      figure {
        margin-bottom:10%;
      }

      img {
        width: 35%;
      }

      p {
        font-size:2.3rem;
        margin-bottom: 13%;
      }
    }  
  }
}

@media #{$screen-md-min} {

  .wrapper{
    background-color:white;
  }

  .main-on.closebtn {
    display: none;
  }


  .header-container {
    background-image:url('../../images/naokinishikubo_large.png') !important;
    background-size:cover;
    background-repeat:no-repeat;  
    background-position: left bottom;
    padding: 10%;

    h1 {
      font-size: 6rem;

    }

    h2 {
      font-size: 3rem;
    }
  }

  .navigation-container {
    padding-top:calc( 10% + 10px );
    padding-left:5%;

    li {
      margin-bottom: 4%;
    }

    a {
      font-size: 2.2rem;
    }

    a::before {
      position:absolute;
      top:2px;
      left:-23px;
      padding-left:0px;
      padding-bottom:2rem;
    }

    a:hover:before,
    a.selected:before {
      padding-left:8px;
    }

  }

  .main-container {
    background-color:white;

    #work,
    #aboutme,
    #contacts{
      padding: 5% 13%;
    }

    #work {

      li {
        margin-bottom: 5%;
        padding:2% !important;

        img {
          width: 85%;
        }
      }
    }

    #contacts {

      p {
        margin-bottom: 10%;
      }

      h1{
        font-size:3.3rem;
      }

      p {
        font-size:2.3rem;
      }

      li {
        margin-bottom: 3% !important;
      }

      li a {
        font-size:2.8rem !important;
      }

      li i {
        margin-right:20px;
      }
    }

    #aboutme {

      figure {
        margin-bottom:10%;
      }

      img {
        width: 35%;
      }

      p {
        font-size:2.3rem;
        margin-bottom: 7%;
      }
    }  
  }

  /*
  * Animation Styling
  */
  .navigation-container {
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
  }

  .main-on .navigation-container{
    background-color: $purple;

    a {
      color: white;
    }

    a:hover:before,
    a.selected:before {
      background-color: white;
    }
  }
}

@media #{ $screen-xl-min} {

  html {
    font-size: 13.5px;
  }
}
