.btn-close:hover {
  cursor: pointer;
}

.wrapper {
  background-color: aqua;
}

.header-container {
  background-color: pink;
}

.navigation-container {
  background-color: #55f;
}

.main-container {
  background-color: green;
}

section#work li {
  background-color: beige;
  padding: 0%;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

.container {
  position: absolute;
  display: block;
  height: 100%;
}

.header-container,
.navigation-container {
  position: fixed;
}

.header-container,
.main-container {
  width: 77%;
}

.navigation-container {
  width: 23%;
  -webkit-transform: translateX(334.78261%);
  transform: translateX(334.78261%);
}

.main-container {
  width: 77%;
  -webkit-transform: translateX(130.87013%);
  transform: translateX(130.87013%);
}

#work,
#aboutme,
#contacts {
  display: none;
}

/* 
* Animation style
*/
.header-container,
.main-container,
.navigation-container {
  -webkit-transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
}

.main-on.container {
  height: auto !important;
  min-height: 100vh !important;
}

.main-on.header-container {
  -webkit-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}

.main-on.navigation-container {
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.main-on.main-container {
  -webkit-transform: translateX(29.87013%) !important;
  transform: translateX(29.87013%) !important;
}

.active#work,
.active#aboutme,
.active#contacts {
  display: block;
}

.mobilebtn {
  position: fixed !important;
  top: 30px !important;
  right: 30px !important;
  z-index: 200;
}

/*
* Style for mobile size
*/
@media only screen and (max-width: 420px) {
  .container {
    width: 100% !important;
  }

  .header-container,
  .navigation-container {
    height: 50%;
  }

  .navigation-container {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    top: 50% !important;
  }

  .main-container {
    top: 0;
    z-index: 9000;
  }

  /* 
  * Animation style
  */
  .main-on.container:not(.main-container) {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }

  .main-on.container.main-container {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}
